.addRecipePage {
    width: 100%;
    /* Base subtraction of height should be 50px due to navigation bar being 50px high.  */
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 2%;
    padding-right: 2%;
    color: white;
    background-color: #373737;
}

/* ============================== Top ============================== */
.addRecipePageTop {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #212121;
}

/* ============================== Top Left ============================== */
.addRecipePageTopLeft {
    width: 400px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

/* ============================== Photo ============================== */
.addRecipePagePhotoHolder {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.addRecipePagePhotoInput {
    display: none;
}

.addRecipePagePhoto {
    width: 100%;
    cursor: pointer;
}

.addRecipePagePhotoPlaceholderImage {
    width: calc(100% - 40px);
    max-width: 360px;
    height: calc(100% - 40px);
    max-height: 360px;
    padding: 20px;
    background-color: #8e8e8e;
}

.addRecipePagePhotoErrorLabel {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    color: red;
    font-size: 16px;
    hyphens: auto;
    word-break: break-word;
    white-space: pre-wrap;
}

.addRecipePagePhotoRemove {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
}

.addRecipePagePhotoRemoveButton {
    width: fit-content;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
    color: white;
    background-color: #8e8e8e;
    font-size: 20px;
}

/* ============================== Top Right ============================== */
.addRecipePageTopRight {
    width: 600px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

/* ============================== Name ============================== */
.addRecipePageName {
    width: 100%;
    height: fit-content;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.addRecipePageNameLabel {
    width: fit-content;
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.addRecipePageNameInput {
    /* Due to input default left and right padding equals to 4px, it is needed to subtract by 4px to get perfect alignment. */
    width: calc(100% - 4px);
    height: 30px;
    border-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 20px;
}

.addRecipePageNameErrorLabel {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    color: red;
    font-size: 16px;
    hyphens: auto;
    word-break: break-word;
    white-space: pre-wrap;
}

/* ============================== Category and Type ============================== */
.addRecipePageCategoryAndType {
    width: 100%;
    height: fit-content;
    margin-bottom: 50px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

/* ============================== Category ============================== */
.addRecipePageCategory {
    width: calc(50% - 10px);
    height: 60px;
    margin-right: 20px;
    font-size: 20px;
}

.addRecipePageCategoryLabel {
    width: fit-content;
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.addRecipePageCategorySelector {
    width: 100%;
    height: 30px;
    font-size: 20px;
}

/* ============================== Type ============================== */
.addRecipePageType {
    width: calc(50% - 10px);
    height: 60px;
    font-size: 20px;
}

.addRecipePageTypeLabel {
    width: fit-content;
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.addRecipePageTypeSelector {
    width: 100%;
    height: 30px;
    font-size: 20px;
}

/* ============================== Time ============================== */
.addRecipePageTime {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.addRecipePageTimeLabel {
    width: fit-content;
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.addRecipePageTimeInput {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.addRecipePageTimeHoursInput {
    width: 50px;
    height: 30px;
    margin-right: 5px;
    border-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 20px;
}

.addRecipePageTimeHoursLabel {
    width: fit-content;
    height: 30px;
    display: flex;
    align-items: center;
    margin-right: 5px;
    font-size: 20px;
}

.addRecipePageTimeMinutesInput {
    width: 50px;
    height: 30px;
    margin-right: 5px;
    border-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 20px;
}

.addRecipePageTimeMinutesLabel {
    width: fit-content;
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 20px;
}

/* ============================== Bottom ============================== */
.addRecipePageBottom {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #212121;
}

/* ============================== Bottom Left ============================== */
.addRecipePageBottomLeft {
    width: 400px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

/* ============================== Portions ============================== */
.addRecipePagePortions {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 10px;
    font-size: 20px;
}

.addRecipePagePortionsLabel {
    width: fit-content;
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-right: 20px;
}

.addRecipePagePortionsDecrementButton {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
    color: white;
    background-color: #8e8e8e;
    font-size: 20px;
}

.addRecipePagePortionsIncrementButton {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
    color: white;
    background-color: #8e8e8e;
    font-size: 20px;
}

/* ============================== Ingredients ============================== */
.addRecipePageIngredients {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.addRecipePageIngredientsLabel {
    width: fit-content;
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.addRecipePageIngredientsInput {
    width: 100%;
    height: 30px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 10px;
}

.addRecipePageIngredientsInputAmount {
    width: calc(20% - 4px);
    height: 100%;
    border-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 1%;
    font-size: 16px;
}

.addRecipePageIngredientsInputUnitSelector {
    width: 15%;
    height: 100%;
    border-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 1%;
    font-size: 16px;
}

.addRecipePageIngredientsInputName {
    width: calc(35% - 4px);
    height: 100%;
    border-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 1%;
}

.addRecipePageIngredientsInputAddButton {
    width: calc(27% - 8px);
    height: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
    color: white;
    background-color: #8e8e8e;
    font-size: 20px;
}

.addRecipePageIngredientsList {
    width: 100%;
    height: fit-content;
    list-style: none;
    padding: 0;
}

.addRecipePageIngredientsItem {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
    font-size: 20px;
}

.addRecipePageIngredientsItemAmount {
    width: 20%;
    height: 100%;
    margin-right: 1%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.addRecipePageIngredientsItemUnit {
    width: 15%;
    height: 100%;
    margin-right: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addRecipePageIngredientsItemName {
    width: 35%;
    height: 100%;
    margin-right: 1%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.addRecipePageIngredientsItemRemove {
    width: 27%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addRecipePageIngredientsItemRemoveButton {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
    color: white;
    background-color: #8e8e8e;
    font-size: 20px;
}

.addRecipePageIngredientsErrorLabel {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    color: red;
    font-size: 16px;
    hyphens: auto;
    word-break: break-word;
    white-space: pre-wrap;
}

/* ============================== Bottom Right ============================== */
.addRecipePageBottomRight {
    width: 600px;
    min-height: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

/* ============================== Instructions ============================== */
.addRecipePageInstructions {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.addRecipePageInstructionsLabel {
    width: fit-content;
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.addRecipePageInstructionsInput {
    width: calc(100% - 4px);
    min-height: calc(300px - 4px);
    height: calc(fit-content - 4px);
    border-width: 0;
    resize: none;
    font-size: 20px;
}

/* ============================== Add button ============================== */
.addRecipePageAddNewRecipe {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.addRecipePageAddNewRecipeButton {
    width: 200px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
    color: white;
    background-color: #8e8e8e;
    font-size: 20px;
}

.addRecipePageUploadingLoader {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #373737;
}

.addRecipePageAddNewRecipeErrorLabel {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
    color: red;
    font-size: 16px;
    hyphens: auto;
    word-break: break-word;
    white-space: pre-wrap;
}