.app {
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    display: flex;
    flex-flow: row wrap;
    background-color: #373737;
}

.appNavigationBar {
    width: 100%;
}


/* Remove increment/decrement arrows in all input fields. */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}