.navigationBar {
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #212121;
}

.navigationBarHomeButton {
    width: fit-content;
    height: 40px;
    display: flex;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    font-size: 16px;
    color: white;
}

.navigationBarHomeButtonImg {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}