.navigationBar {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #212121;
}

.navigationBarHomeButton {
    width: 210px;
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;
    font-size: 16px;
    color: white;
}

.navigationBarHomeButton img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.navigationBarSearchField {
    width: 60%;
    height: fit-content;
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 5px;
    margin-right: 10px;
    color: white;
}

.navigationBarSearchFieldForm {
    width: 100%;
    height: fit-content;
}

.navigationBarSearchFieldInput {
    /* Subtract 100% width by paddings, margins, and the search button. */
    width: calc(100% - 65px);
    height: 30px;
    border-width: 0;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    background-color: #8e8e8e;
}

.navigationBarSearchFieldInput::placeholder {
    /* modern browser */
    color: white;
}

.navigationBarSearchFieldButton {
    width: 50px;
    height: 30px;
    border-width: 0;
    padding: 0;
    margin-top: 5px;
    margin-bottom: 5px;
    color: white;
    background-color: #8e8e8e;
}

.navigationBarProfileButton {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: 10px;
    color: white;
    font-size: 16px;
}