.recipesPage {
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    display: flex;
    flex-flow: row wrap;
    background-color: black;
}

.recipesPageNavigationBar {
    width: 100%;
    height: 50px;
    height: fit-content;
}

.recipesPageSideBar {
    width: 220px;
    height: calc(100% - 50px);
}

.recipesPageRecipeList {
    width: calc(100% - 220px);
    height: calc(100% - 50px);
    overflow-y: auto;

}