.recipesFilterSideBar {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    background-color: #373737;
}

.recipesFilterSideBarFilters {
    margin-bottom: 10px;
}

.recipesFilterSideBarAddNewRecipe {
    width: 100%;
    height: fit-content;
    margin-top: auto;
}

.recipesFilterSideBarAddNewRecipeButton {
    width: 100%;
    height: fit-content;
}