.recipeDetailsPage {
    width: 100%;
    /* Base subtraction of height should be 50px due to navigation bar being 50px high.  */
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 2%;
    padding-right: 2%;
    color: white;
    background-color: #373737;
}

.recipeDetailsPageDataLoader {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #373737;
}

/* ============================== Top ============================== */
.recipeDetailsPageTop {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #212121;
}

/* ============================== Top Left ============================== */
.recipeDetailsPageTopLeft {
    width: 400px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

/* ============================== Photo ============================== */
.recipeDetailsPagePhotoHolder {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.recipeDetailsPagePhotoInput {
    display: none;
}

.recipeDetailsPagePhoto {
    width: 100%;
    cursor: pointer;
}

.recipeDetailsPagePhotoPlaceholderImage {
    width: calc(100% - 40px);
    max-width: 360px;
    height: calc(100% - 40px);
    max-height: 360px;
    padding: 20px;
    background-color: #8e8e8e;
}

.recipeDetailsPagePhotoErrorLabel {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    color: red;
    font-size: 16px;
    hyphens: auto;
    word-break: break-word;
    white-space: pre-wrap;
}

.recipeDetailsPagePhotoRemove {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
}

.recipeDetailsPagePhotoRemoveButton {
    width: fit-content;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
    color: white;
    background-color: #8e8e8e;
    font-size: 20px;
}

/* ============================== Top Right ============================== */
.recipeDetailsPageTopRight {
    width: 600px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

/* ============================== Name ============================== */
.recipeDetailsPageName {
    width: 100%;
    height: fit-content;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.recipeDetailsPageNameLabel {
    width: fit-content;
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.recipeDetailsPageNameInput {
    /* Due to input default left and right padding equals to 4px, it is needed to subtract by 4px to get perfect alignment. */
    width: calc(100% - 4px);
    height: 30px;
    border-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 20px;
}

.recipeDetailsPageNameErrorLabel {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    color: red;
    font-size: 16px;
    hyphens: auto;
    word-break: break-word;
    white-space: pre-wrap;
}

/* ============================== Category and Type ============================== */
.recipeDetailsPageCategoryAndType {
    width: 100%;
    height: fit-content;
    margin-bottom: 50px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

/* ============================== Category ============================== */
.recipeDetailsPageCategory {
    width: calc(50% - 10px);
    height: 60px;
    margin-right: 20px;
    font-size: 20px;
}

.recipeDetailsPageCategoryLabel {
    width: fit-content;
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.recipeDetailsPageCategorySelector {
    width: 100%;
    height: 30px;
    font-size: 20px;
}

/* ============================== Type ============================== */
.recipeDetailsPageType {
    width: calc(50% - 10px);
    height: 60px;
    font-size: 20px;
}

.recipeDetailsPageTypeLabel {
    width: fit-content;
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.recipeDetailsPageTypeSelector {
    width: 100%;
    height: 30px;
    font-size: 20px;
}

/* ============================== Time ============================== */
.recipeDetailsPageTime {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.recipeDetailsPageTimeLabel {
    width: fit-content;
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.recipeDetailsPageTimeInput {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.recipeDetailsPageTimeHoursInput {
    width: 50px;
    height: 30px;
    margin-right: 5px;
    border-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 20px;
}

.recipeDetailsPageTimeHours {
    width: fit-content;
    height: 30px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.recipeDetailsPageTimeHoursLabel {
    width: fit-content;
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 16px;
    margin-right: 5px;
    font-size: 20px;
}

.recipeDetailsPageTimeMinutesInput {
    width: 50px;
    height: 30px;
    margin-right: 5px;
    border-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 20px;
}

.recipeDetailsPageTimeMinutes {
    width: fit-content;
    height: 30px;
    margin-right: 5px;
    display: flex;
    align-items: center;
    font-size: 20px;
}

.recipeDetailsPageTimeMinutesLabel {
    width: fit-content;
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 20px;
}

/* ============================== Bottom ============================== */
.recipeDetailsPageBottom {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #212121;
}

/* ============================== Bottom Left ============================== */
.recipeDetailsPageBottomLeft {
    width: 400px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

/* ============================== Portions ============================== */
.recipeDetailsPagePortions {
    width: 100%;
    height: 30px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 10px;
    font-size: 20px;
}

.recipeDetailsPagePortionsLabel {
    width: fit-content;
    height: 30px;
    display: flex;
    align-items: center;
    margin-right: 20px;
    font-size: 16px;
}

.recipeDetailsPagePortionsDecrementButton {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
    color: white;
    background-color: #8e8e8e;
    font-size: 20px;
}

.recipeDetailsPagePortionsIncrementButton {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
    color: white;
    background-color: #8e8e8e;
    font-size: 20px;
}

/* ============================== Ingredients ============================== */
.recipeDetailsPageIngredients {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.recipeDetailsPageIngredientsLabel {
    width: fit-content;
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.recipeDetailsPageIngredientsInput {
    width: 100%;
    height: 30px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-bottom: 10px;
}

.recipeDetailsPageIngredientsInputAmount {
    width: calc(20% - 4px);
    height: 100%;
    border-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 1%;
    font-size: 16px;
}

.recipeDetailsPageIngredientsInputUnitSelector {
    width: 15%;
    height: 100%;
    border-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 1%;
    font-size: 16px;
}

.recipeDetailsPageIngredientsInputName {
    width: calc(35% - 4px);
    height: 100%;
    border-width: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 1%;
    font-size: 16px;
}

.recipeDetailsPageIngredientsInputAddButton {
    width: calc(27% - 8px);
    height: 100%;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
    color: white;
    background-color: #8e8e8e;
    font-size: 20px;
}

.recipeDetailsPageIngredientsList {
    width: 100%;
    height: fit-content;
    list-style: none;
    padding: 0;
}

.recipeDetailsPageIngredientsItem {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
    font-size: 20px;
}

.recipeDetailsPageIngredientsItemAmount {
    width: 20%;
    height: 100%;
    margin-right: 1%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.recipeDetailsPageIngredientsItemAmountAdjustingMode {
    width: 100%;
    height: 100%;
    text-align: end;
}

.recipeDetailsPageIngredientsItemUnit {
    width: 15%;
    height: 100%;
    margin-right: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recipeDetailsPageIngredientsItemName {
    width: 35%;
    height: 100%;
    margin-right: 1%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.recipeDetailsPageIngredientsItemRemove {
    width: 27%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recipeDetailsPageIngredientsItemRemoveButton {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
    color: white;
    background-color: #8e8e8e;
    font-size: 20px;
}

.recipeDetailsPageIngredientsErrorLabel {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    color: red;
    font-size: 16px;
    hyphens: auto;
    word-break: break-word;
    white-space: pre-wrap;
}

/* ============================== Bottom Right ============================== */
.recipeDetailsPageBottomRight {
    width: 600px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

/* ============================== Instructions ============================== */
.recipeDetailsPageInstructions {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.recipeDetailsPageInstructionsLabel {
    width: fit-content;
    height: 30px;
    display: flex;
    align-items: center;
    font-size: 16px;
}

.recipeDetailsPageInstructionsText {
    width: 100%;
    height: fit-content;
    hyphens: auto;
    word-break: break-word;
    white-space: pre-wrap;
    font-size: 20px;
}

.recipeDetailsPageInstructionsInput {
    width: calc(100% - 4px);
    min-height: calc(300px - 4px);
    height: calc(fit-content - 4px);
    border-width: 0;
    resize: none;
    font-size: 20px;
}

/* ============================== Edit button ============================== */
.recipeDetailsPageEditRecipe {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.recipeDetailsPageEditRecipeButton {
    width: 200px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
    color: white;
    background-color: #8e8e8e;
    font-size: 20px;
}

.recipeDetailsPageEditRecipeModeButtons {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.recipeDetailsPageUploadingEditLoader {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #373737;
}

.recipeDetailsPageEditRecipeErrorLabel {
    width: 100%;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
    color: red;
    font-size: 16px;
    hyphens: auto;
    word-break: break-word;
    white-space: pre-wrap;
}