.resetPasswordPage {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    background-color: #373737;
}

.resetPasswordPageBox {
    width: 80%;
    max-width: 400px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 5%;
    background-color: #212121;
    border-radius: 5px;
    font-size: 16px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
}

.resetPasswordPageBoxHeader {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-self: center;
    margin-bottom: 20px;
    font-size: 40px;
}

.resetPasswordPageBoxInfo {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 20px;
}

.resetPasswordPageEmailInput {
    width: calc(100% - 4px);
    height: 30px;
    margin-bottom: 20px;
    font-size: 20px;
    border-width: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.resetPasswordPageBoxButton {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    border-style: none;
    cursor: pointer;
    color: white;
    background-color: #8e8e8e;
    font-size: 20px;
}

.resetPasswordPageErrorMessage {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    color: red;
    font-size: 16px;
}

.resetPasswordPageResetLoader {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}